@font-face {
  font-family: 'Restora';
  src: local('restora'), url(../assets//font/restora.otf) format ('opentype')
}

.initial {
  align-self: center;
  font-family: 'DM Serif Display', serif;
}

.navBar{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.createLink {
  text-decoration: none;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  padding: 23px 10px;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 292px;
  cursor: pointer;
  color: black;
  margin: 20px;
  background-color: #2b2c2e1c;
  font-family: 'DM Sans', sans-serif;
}

.logoWrapper{
  margin: 30px;
}

.tagSelection {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-self: center;
  font-family: 'DM Sans', sans-serif;
  margin: 0 50px 85px 20px;
  gap: 10px;
}

.iconContainer{
  display: inline;
  padding: 0 10px 0 25px;
}

.searchBar {
  display: inline;
  font-family: "Restora";
  font-weight: 400;
  font-size: 3rem;
  height: 3rem;
  border: none;
  outline: none;
  padding: 70px 0 50px 0;
  background: var(--all-recipes-color);
}

.labelAsButton {
  font-size: 1.2rem;
  display: flex;
  position: relative;
  background: #2b2c2e1c;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
}

.labelAsButton:hover {
  background: #2b2c2e2a;
}

:checked + span.labelAsButton {
  color: var(--all-recipes-color);
  background-color: var(--all-recipes-color-font);
}

.inputCheck, .inputRadio {
  display: none;
}

span.labelAsMenu{
  color: var(--all-recipes-color-font);
}

.sectionWrapper {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  align-self: center;
  font-family: 'Restora';
  margin: 40px 50px 20px 30px;
}

.labelAsMenu {
  font-size: 2rem;
  display: flex;
  margin: 0 2rem 0 0;
  padding: 0;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

:checked + span.labelAsMenu{
  font-weight: bold;
  color: var(--all-recipes-color-font);
  }


  .iconWrapper{
    padding-right: 5px;
    margin-bottom: -4px;
    stroke: var(--all-recipes-color);
    stroke-width: 1px;
    stroke-linejoin: round;
  }

