@font-face {
  font-family: 'Restora';
  src: local('restora'), url(../assets//font/restora.otf) format ('opentype')
}

.initial {
  align-self: center;
  font-family: 'DM Serif Display', serif;
}

.navBar{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.createLink {
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  position: relative;
  padding: 4px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
  color: black;
  margin-right: 20px;
  border: 1px solid black;
  background-color: var(--all-recipes-color);
  font-family: 'DM Sans', sans-serif;
}

.logoWrapper{
  margin: 30px;
}

.tagSelection {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-self: center;
  font-family: 'DM Sans', sans-serif;
  margin: 0 50px 100px 20px;
  gap: 10px;
}

.iconContainer{
  display: inline;
  padding-left: 50px;
}

.searchBar {
  display: inline;
  font-family: "Restora";
  font-weight: 400;
  font-size: 3rem;
  height: 3rem;
  border: none;
  outline: none;
  padding: 80px 30px 50px 30px;
  background: var(--all-recipes-color);
}

.searchBar:before{
  content: "\f109";
  position: absolute;
}

.labelAsButton {
  font-size: 1.2rem;
  display: flex;
  position: relative;
  background: #e7e7f1;
  padding: 4px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
}

.labelAsButton:hover {
  background: #0000001A;
}

.inputCheck, .inputRadio {
  display: none;
}

span.labelAsMenu{
  color: var(--all-recipes-color-font);
}

:checked + span.labelAsButton{
  font-weight: bold;
  background-color: var(--all-recipes-color-font);
  color: var(--all-recipes-color);
}

:checked + span.labelAsButton {
  color: var(--all-recipes-color);
  background-color: var(--all-recipes-color-font);
}

.sectionWrapper {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  align-self: center;
  font-family: 'Restora';
  margin: 40px 50px 20px 30px;
}

.labelAsMenu {
  font-size: 2rem;
  display: flex;
  margin: 0 2rem 0 0;
  padding: 0;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

:checked + span.labelAsMenu{
  font-weight: bold;
  color: var(--all-recipes-color-font);
  }


  .iconWrapper{
    padding-right: 5px;
  }

