body {
  margin: 0;
  background: var(--all-recipes-color);
  align-self: center;
  font-family: 'DM Sans', sans-serif;
}

@font-face {
  font-family: Restora;
  src: url("./assets/font/restora.otf") format("opentype");
}

p{
  font-size: 1.2rem;
  color: var(--all-recipes-color-font);
}
