* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 50px;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /*Colors*/
  --all-recipes-color: #dde5e7;
  --entrantes-color: #8b996f;
  --principales-color: #42547c;
  --salsas-color: #e77d5e;
  --postres-color: #9c7458;
  --bebidas-color: #ffb3b3;

  --all-recipes-color-font: #000000;
  --entrantes-color-font: #ffdaab;
  --principales-color-font: #ffb3de;
  --salsas-color-font: #c5ffb3;
  --postres-color-font: #fac8b3;
  --bebidas-color-font: #4f6142;

  /* Fonts */
  --title-font: "Bebas Neue", cursive;
}

