.navCreate{
    height: 85px;
}

.recipeMainCreate{
    width: 100%;
    height:calc(100vh - 90px);
    overflow-y: auto;
}

.createRecipeWrapper {
    height:calc(100vh - 90px);
    display: grid;
    grid-template-columns: 50% 1fr;
    background-color: white;
    overflow: hidden;
}

.createTitle {
    text-align: center;
    font-family: "Restora";
    font-weight: normal;
    padding: 20px;
    font-size: 2rem;
    background-color: white;
}
.recipeHeader{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:calc(100vh - 90px);
}

.FrontRecipeCreate{
    background-color: var(--all-recipes-color);
    color: var(--all-recipes-color-font);
    height: 100%;
    min-height: 470px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px;
}

.FrontRecipeCreate.Entrantes .nombreInput::placeholder,
.FrontRecipeCreate.Principales .nombreInput::placeholder,
.FrontRecipeCreate.Postres .nombreInput::placeholder,
.FrontRecipeCreate.Salsas .nombreInput::placeholder,
.FrontRecipeCreate.Entrantes .rememberInput::placeholder,
.FrontRecipeCreate.Principales .rememberInput::placeholder,
.FrontRecipeCreate.Postres .rememberInput::placeholder,
.FrontRecipeCreate.Salsas .rememberInput::placeholder,
.FrontRecipeCreate.Entrantes .timeInput::placeholder,
.FrontRecipeCreate.Principales .timeInput::placeholder,
.FrontRecipeCreate.Postres .timeInput::placeholder,
.FrontRecipeCreate.Salsas .timeInput::placeholder,
.FrontRecipeCreate.Entrantes .rationInput::placeholder,
.FrontRecipeCreate.Principales .rationInput::placeholder,
.FrontRecipeCreate.Postres .rationInput::placeholder,
.FrontRecipeCreate.Salsas .rationInput::placeholder,
.FrontRecipeCreate.Entrantes .rationText,
.FrontRecipeCreate.Principales .rationText,
.FrontRecipeCreate.Postres .rationText,
.FrontRecipeCreate.Salsas .rationText {
    color: #e7e7f1;
}

.FrontRecipeCreate.Entrantes {
    background-color: var(--entrantes-color);
    color: var(--entrantes-color-font);
}

.FrontRecipeCreate.Principales{
    background-color: var(--principales-color);
    color: var(--principales-color-font);
}

.FrontRecipeCreate.Postres{
    background-color: var(--postres-color);
    color: var(--postres-color-font);
}

.FrontRecipeCreate.Bebidas{
    background-color: var(--bebidas-color);
    color: var(--bebidas-color-font);
}

.FrontRecipeCreate.Salsas{
    background-color: var(--salsas-color);
    color: var(--salsas-color-font);
}

.FrontRecipeCreate.Entrantes .nombreInput,
.FrontRecipeCreate.Entrantes .rememberInput,
.FrontRecipeCreate.Entrantes .timeInput,
.FrontRecipeCreate.Entrantes .rationInput,
.FrontRecipeCreate.Entrantes .rationText{
    color: var(--entrantes-color-font);
}

.FrontRecipeCreate.Principales .nombreInput,
.FrontRecipeCreate.Principales .rememberInput,
.FrontRecipeCreate.Principales .timeInput,
.FrontRecipeCreate.Principales .rationInput,
.FrontRecipeCreate.Principales .rationText{
    color: var(--principales-color-font);
}

.FrontRecipeCreate.Postres .nombreInput,
.FrontRecipeCreate.Postres .rememberInput,
.FrontRecipeCreate.Postres .timeInput,
.FrontRecipeCreate.Postres .rationInput,
.FrontRecipeCreate.Postres .rationText{
    color: var(--postres-color-font);
}

.FrontRecipeCreate.Bebidas .nombreInput,
.FrontRecipeCreate.Bebidas .rememberInput,
.FrontRecipeCreate.Bebidas .timeInput,
.FrontRecipeCreate.Bebidas .rationInput,
.FrontRecipeCreate.Bebidas .rationText{
    color: var(--bebidas-color-font);
}

.FrontRecipeCreate.Salsas .nombreInput,
.FrontRecipeCreate.Salsas .rememberInput,
.FrontRecipeCreate.Salsas .timeInput,
.FrontRecipeCreate.Salsas .rationInput,
.FrontRecipeCreate.Salsas .rationText{
    color: var(--salsas-color-font);
}

.imageAsideCreate{
    height:90%;
    width: 50vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.imgInputWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputInvisible {
    border:none;
    background-color: transparent;
    min-height: 25px;
    margin: 0 5px;
}

.inputInvisible:focus {
    border:none;
    background-color: transparent;
    outline: none;
}

.imgInput {
    text-align: center;
    font-family: "Restora";
    font-size: 1rem;
    min-width: 250px;
}

.rationInput {
    display: inline;
    width: 20%;
}

.rationText {
    font-size: 0.8rem;
    color: #6a6969;
}

.nombreInput {
    font-family: "Restora";
    font-size: 3.5rem;
    border-bottom: 1px solid #ccc;
}
.rememberInput {
    margin-top: 35px;
    border-bottom: 1px solid #ccc;
    font-size: 1.5rem;
    width: 70%;
}

.sectionsWrapper{
    display: flex;
    margin: 15px;
}

.smallText{
    display: inline;
    padding-right: 20px;
}

.sectionsContainer{
    display: flex;
    font-family: "Restora";
    font-size: 1rem;
    text-transform: uppercase;
}

.labelAsSection {
    display: flex;
    margin: 0 2rem 0 0;
    padding: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

:checked + span.labelAsSection{
    font-weight: bold;
    color: var(--all-recipes-color-font);
}

:checked + span.labelAsSection.Principales{
    font-weight: bold;
    color: var(--principales-color);
}

:checked + span.labelAsSection.Entrantes{
    font-weight: bold;
    color: var(--entrantes-color);
}

:checked + span.labelAsSection.Postres{
    font-weight: bold;
    color: var(--postres-color);
}

:checked + span.labelAsSection.Bebidas{
    font-weight: bold;
    color: var(--bebidas-color);
}

:checked + span.labelAsSection.Salsas{
    font-weight: bold;
    color: var(--salsas-color);
}

.helpText{
    font-size: 0.8rem;
}

.helpText.Principales{
    color: var(--principales-color-font);
}

.helpText.Entrantes{
    color: var(--entrantes-color-font);
}

.helpText.Postres{
    color: var(--postres-color-font);
}

.helpText.Bebidas{
    color: var(--bebidas-color-font);
}

.helpText.Salsas{
    color: var(--salsas-color-font);
}

.tagsWrapper{
    padding-top: 20px;
}

.tagContainerCreate{
    margin-top: 5px;
    display: flex;
    gap: 10px;
}

.labelAsButtonCreate {
    font-size: 1.2rem;
    display: flex;
    position: relative;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid rgb(128, 125, 125);
    color: rgb(128, 125, 125);
}

.labelAsButtonCreate.Entrantes,
.labelAsButtonCreate.Principales,
.labelAsButtonCreate.Postres,
.labelAsButtonCreate.Salsas {
    border: 1px solid #e7e7f1;
    color: #e7e7f1;
}

.labelAsButtonCreate:hover {
    background: #0000001A;
}

:checked + span.labelAsButtonCreate {
    border: 1px solid var(--all-recipes-color-font);
    color: var(--all-recipes-color);
    background-color: var(--all-recipes-color-font);
}

.shownTags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.showMore, .showLess {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

.ingredTitle{
    font-family: Restora;
    font-size: 2rem;
    padding-bottom: 15px;
    font-weight: lighter;
    text-transform: uppercase;
}
.circleDot{
    transform: scale(0.7);
    margin-right: 5px;
}

.loadIngrBtn{
    background-color: transparent;
    border: none;
    cursor: pointer
}
.addText{
    margin-left: 5px;
}

.stepTextArea{
    display: block;
    border: none;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
}

.stepTextArea:focus{
    outline: none;
}

.saveRecipe {
    background-color: transparent;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    position: relative;
    padding: 4px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    color: black;
    margin-right: 20px;
    border: 1px solid black;
    font-family: 'DM Sans', sans-serif;
}

.sendWrapper{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.stepWrapper{
    display: block;
    margin-bottom: 10px;
}